.page-frontpage {
    background-image: url('/static/images/planet-dashboards/alba.png');
    background-position: center top;
    background-size: 100vw auto;
    background-repeat: no-repeat;

    .navbar {
        background-color: rgba(0, 0, 0, 0.5);
    }
}
