{{ define "content" }}

<div class="row">

	<div class="col-sm-2">

		{{ template "rightbar" . }}

	</div>

	<div class="col-sm-8">

		<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #070710;">
		  <a class="navbar-brand" href="#">Earth</a>
		  <span class="navbar-text">
			  [0, 30, 2, 0]
		  </span>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
			  <li class="nav-item">
				<a class="nav-link" href="#">Overview</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#">Constructions</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#">Factories</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#">Research</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#">Fleets</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#">Defenses</a>
			  </li>
			</ul>
		  </div>
		</nav>

		<div class="row">
			<div class="col">
				Metal: {{ .MetalStock }} 
			</div>
			<div class="col">
				Lithium: {{ .MetalStock }} 
			</div>
			<div class="col">
				Water: 306/420 
			</div>
			<div class="col">
				Population: 300k 
			</div>
			<div class="col">
				Energy: 1276/1700 
			</div>
		</div>


		<div class="row">
			<div class="col-sm-3">
				<img src="/static/images/planet.jpg" class="img-fluid pt-5" alt="planet image">
			</div>
		</div>

		<div class="container mt-5">
		<p>
		Metal mine: level {{ .MetalMine }} (<a href="/planet/up_metal_mine">upgrade</a>)
		</p>
		</div>

		<!-- Display the countdown timer in an element -->
		<p id="demo"></p>

	</div>

</div>


{{ end }}
