{{ define "dashboardBody" }}

<h1 class="title">Fleet control</h1>

<article class="message">
  <div class="message-body">
	The current name kind of sucks. But the idea here is to offer an global vision and control on all moving fleets for the player, and maybe also the radar would fit here, where you see a list of all fleets within your radar range (origin - destination). Basically fleets should be sent from a planet at first. But once in space, you control it from here. You can stop it, reroute it etc. May you could also create automatic transportation here too, like send 2 transports to X and back to Y every 2 hours to harvest Z (actually this should go in planet/fleets I think).
  </div>
</article>

{{ end }}
