{{ define "leftbar" }}
<nav class="panel is-shadowless">
	{{ range .Data.Planets}}

	<a class="panel-block is-active" href="/planet/{{ .ID }}/">
			<figure class="image is-48x48 Planet-menu__icon">
				<img src="/static/images/planet-icons/{{ .PlanetSkin }}.png" class="is-rounded" alt="planet image" width="48px"
					height="48px">
			</figure>
			<div>
				<div>{{ .Name }}</div>
				<div>
				[{{ .RegionCode }}:{{ .SystemCode }}:{{ .OrbitCode }}:{{ .SuborbitCode }}]
				</div>
			</div>
		</a>

	{{ end }}
</nav>

{{ end }}
