{{ define "planetBody" }}

<div class="columns is-multiline">
	<div class="column is-flex is-3">
		<div class="card card-growing">
			<div class="card-image">
				<figure class="image">
					<img src="/static/images/technologies/tech-metallurgy.png" class="card-img-top" alt="...">
				</figure>
			</div>
			<div class="card-content is-growing">
				<div class="has-text-right Planet-card__header">
					<h2 class="title is-5 is-marginless">Metallurgy</h2>
					<span class="subtitle is-7">Level... 5</span>
				</div>
				<div class="content">
					<p>
					Unlocks more ships and structures.<br>
					Increases armor X% per level.
					</p>
					<hr>
					<p>
					Upgrade:<br>
					10k metal, 10k hydrogen, 5k silica
					</p>
				</div>
			</div>
			<footer class="card-footer">
				<a href="#" class="card-footer-item">Upgrade</a>
				<a href="#" class="card-footer-item">Details</a>
			</footer>
		</div>
	</div>
	<div class="column is-flex is-3">
		<div class="card card-growing">
			<div class="card-image">
				<figure class="image">
					<img src="/static/images/technologies/tech-exploitation.png" class="card-img-top" alt="...">
				</figure>
			</div>
			<div class="card-content is-growing">
				<div class="has-text-right Planet-card__header">
					<h2 class="title is-5 is-marginless">Exploitation</h2>
					<span class="subtitle is-7">Level... 5</span>
				</div>
				<div class="content">
					<p>
					Increases max level for resources buildings. Increases production X% per level.
					</p>
					<hr>
					<p>
					Upgrade:<br>
					10k metal, 10k hydrogen, 5k silica
					</p>
				</div>
			</div>
			<footer class="card-footer">
				<a href="#" class="card-footer-item">Upgrade</a>
				<a href="#" class="card-footer-item">Details</a>
			</footer>
		</div>
	</div>
	<div class="column is-flex is-3">
		<div class="card card-growing">
			<div class="card-image">
				<figure class="image">
					<img src="/static/images/technologies/tech-energy.png" class="card-img-top" alt="...">
				</figure>
			</div>
			<div class="card-content is-growing">
				<div class="has-text-right Planet-card__header">
					<h2 class="title is-5 is-marginless">Energy</h2>
					<span class="subtitle is-7">Level... 5</span>
				</div>
				<div class="content">
					<p>
					Increases solar plant max level. Unlocks atomic physics research. Increases energy production X% per level.
					</p>
					<hr>
					<p>
					Upgrade:<br>
					10k metal, 10k hydrogen, 5k silica
					</p>
				</div>
			</div>
			<footer class="card-footer">
				<a href="#" class="card-footer-item">Upgrade</a>
				<a href="#" class="card-footer-item">Details</a>
			</footer>
		</div>
	</div>
	<div class="column is-flex is-3">
		<div class="card card-growing">
			<div class="card-image">
				<figure class="image">
					<img src="/static/images/technologies/tech-biotechnology.png" class="card-img-top" alt="...">
				</figure>
			</div>
			<div class="card-content is-growing">
				<div class="has-text-right Planet-card__header">
					<h2 class="title is-5 is-marginless">Biotechnology</h2>
					<span class="subtitle is-7">Level... 5</span>
				</div>
				<div class="content">
					<p>
					Enables colonizing and bio-stations. Increases population growth X% per level.
					</p>
					<hr>
					<p>
					Upgrade:<br>
					10k metal, 10k hydrogen, 5k silica
					</p>
				</div>
			</div>
			<footer class="card-footer">
				<a href="#" class="card-footer-item">Upgrade</a>
				<a href="#" class="card-footer-item">Details</a>
			</footer>
		</div>
	</div>
	<div class="column is-flex is-3">
		<div class="card card-growing">
			<div class="card-image">
				<figure class="image">
					<img src="/static/images/technologies/tech-propulsion.png" class="card-img-top" alt="...">
				</figure>
			</div>
			<div class="card-content is-growing">
				<div class="has-text-right Planet-card__header">
					<h2 class="title is-5 is-marginless">Propulsion</h2>
					<span class="subtitle is-7">Level... 5</span>
				</div>
				<div class="content">
					<p>
					Unlocks various ships. Increases ships speed X% per level. Unlocks advanced propulsion technologies.
					</p>
					<hr>
					<p>
					Upgrade:<br>
					10k metal, 10k hydrogen, 5k silica
					</p>
				</div>
			</div>
			<footer class="card-footer">
				<a href="#" class="card-footer-item">Upgrade</a>
				<a href="#" class="card-footer-item">Details</a>
			</footer>
		</div>
	</div>
	<div class="column is-flex is-3">
		<div class="card card-growing">
			<div class="card-image">
				<figure class="image">
					<img src="/static/images/technologies/tech-weaponry.png" class="card-img-top" alt="...">
				</figure>
			</div>
			<div class="card-content is-growing">
				<div class="has-text-right Planet-card__header">
					<h2 class="title is-5 is-marginless">Weaponry</h2>
					<span class="subtitle is-7">Level... 5</span>
				</div>
				<div class="content">
					<p>
					Unlocks various ships. Increases ships attack X% per level. Unlocks advanced weaponry technologies.
					</p>
					<hr>
					<p>
					Upgrade:<br>
					10k metal, 10k hydrogen, 5k silica
					</p>
				</div>
			</div>
			<footer class="card-footer">
				<a href="#" class="card-footer-item">Upgrade</a>
				<a href="#" class="card-footer-item">Details</a>
			</footer>
		</div>
	</div>
	<div class="column is-flex is-3">
		<div class="card card-growing">
			<div class="card-image">
				<figure class="image">
					<img src="/static/images/technologies/tech-mathematics.png" class="card-img-top" alt="...">
				</figure>
			</div>
			<div class="card-content is-growing">
				<div class="has-text-right Planet-card__header">
					<h2 class="title is-5 is-marginless">Mathematics</h2>
					<span class="subtitle is-7">Level... 5</span>
				</div>
				<div class="content">
					<p>
					Increases max number of colonies and stations per X. Increases max laboratory level.
					</p>
					<hr>
					<p>
					Upgrade:<br>
					10k metal, 10k hydrogen, 5k silica
					</p>
				</div>
			</div>
			<footer class="card-footer">
				<a href="#" class="card-footer-item">Upgrade</a>
				<a href="#" class="card-footer-item">Details</a>
			</footer>
		</div>
	</div>
	<div class="column is-flex is-3">
		<div class="card card-growing">
			<div class="card-image">
				<figure class="image">
					<img src="/static/images/technologies/tech-cybernetics.png" class="card-img-top" alt="...">
				</figure>
			</div>
			<div class="card-content is-growing">
				<div class="has-text-right Planet-card__header">
					<h2 class="title is-5 is-marginless">Cybernetics</h2>
					<span class="subtitle is-7">Level... 5</span>
				</div>
				<div class="content">
					<p>
					Increases max robotic factory level. Unlocks advanced systems. Increases construction speed X% per level.
					</p>
					<hr>
					<p>
					Upgrade:<br>
					10k metal, 10k hydrogen, 5k silica
					</p>
				</div>
			</div>
			<footer class="card-footer">
				<a href="#" class="card-footer-item">Upgrade</a>
				<a href="#" class="card-footer-item">Details</a>
			</footer>
		</div>
	</div>
</div>


<article class="message">
  <div class="message-body">
	Here we give the player technological research capacity. At first we should only have a few basic technologies for the game. Later we could add various research fields to encourage specialization by players. An interesting feature to promote "empire scale" research would be to not only allow to start research in a planet's lab but also to "join" a research in progress on other planets thus grouping the efforts of multiple planets into one research. That would allow a better gameplay and would prevent players from ending up with only one big lab on their main planet where they would do all their research as in all similar games I know.

	I would like later to promote specialization in tech so that some player get good at making strong spaceship, some other specialize in producing and selling space station parts, etc.
	</div>
</article>

{{ end }}
