{{ define "planetBody" }}

<div class="columns is-multiline">

	{{ $planet := .Data.Planet }}
	{{ range $index, $ship := .Data.Cards }}

		<div class="column is-flex is-3">
			<div class="card card-growing">
				<div class="card-image">
					<figure class="image">
						<img src="/static/images/ships/{{ $ship.Image }}" class="card-img-top" alt="">
					</figure>
				</div>
				<div class="card-content is-growing">
					<div class="has-text-right Planet-card__header">
						<h2 class="title is-5 is-marginless">{{ $ship.Name }}</h2>
					</div>
					<div class="content">
						<p>
							{{ $ship.Description }}
						</p>
						<hr>
						<p>
							Build:<br>
							10k metal, 10k hydrogen, 5k silica
						</p>
					</div>
				</div>
				<footer class="card-footer">
					<a href="#" class="card-footer-item">Build</a>
					<a href="#" class="card-footer-item">Details</a>
				</footer>
			</div>
		</div>

	{{ end }}

</div>


<article class="message">
  <div class="message-body">
Here we want to give the player the ability to build stuff. Probably only ships at the beginning, but later we would have multiple factories allowing to build different things. Materials for research, spaceship parts, space stations parts, artefacts etc.
  </div>
</article>

{{ end }}
