{{ define "planetBody" }}

<div class="columns is-multiline">
	<div class="column is-flex is-3">
		<div class="card card-growing">
			<div class="card-image">
				<figure class="image">
					<img src="/static/images/ships/ship-caravel.png" class="card-img-top" alt="...">
				</figure>
			</div>
			<div class="card-content is-growing">
				<div class="has-text-right Planet-card__header">
					<h2 class="title is-5 is-marginless">Caravel</h2>
					<span class="subtitle is-7">Level... 5</span>
				</div>
				<div class="content">
					<p>
					Increases max number of colonies and stations per X. Increases max laboratory level.
					</p>
					<hr>
					<p>
					Build:<br>
					10k metal, 10k hydrogen, 5k silica
					</p>
				</div>
			</div>
			<footer class="card-footer">
				<a href="#" class="card-footer-item">Build</a>
				<a href="#" class="card-footer-item">Details</a>
			</footer>
		</div>
	</div>
	<div class="column is-flex is-3">
		<div class="card card-growing">
			<div class="card-image">
				<figure class="image">
					<img src="/static/images/ships/ship-light-fighter.png" class="card-img-top" alt="...">
				</figure>
			</div>
			<div class="card-content is-growing">
				<div class="has-text-right Planet-card__header">
					<h2 class="title is-5 is-marginless">Light Fighter</h2>
					<span class="subtitle is-7">Level... 5</span>
				</div>
				<div class="content">
					<p>
					Unlocks more ships and structures.<br>
					Increases armor X% per level.
					</p>
					<hr>
					<p>
					Build:<br>
					10k metal, 10k hydrogen, 5k silica
					</p>
				</div>
			</div>
			<footer class="card-footer">
				<a href="#" class="card-footer-item">Build</a>
				<a href="#" class="card-footer-item">Details</a>
			</footer>
		</div>
	</div>
	<div class="column is-flex is-3">
		<div class="card card-growing">
			<div class="card-image">
				<figure class="image">
					<img src="/static/images/ships/ship-corvette.png" class="card-img-top" alt="...">
				</figure>
			</div>
			<div class="card-content is-growing">
				<div class="has-text-right Planet-card__header">
					<h2 class="title is-5 is-marginless">Corvette</h2>
					<span class="subtitle is-7">Level... 5</span>
				</div>
				<div class="content">
					<p>
					Increases max level for resources buildings. Increases production X% per level.
					</p>
					<hr>
					<p>
					Build:<br>
					10k metal, 10k hydrogen, 5k silica
					</p>
				</div>
			</div>
			<footer class="card-footer">
				<a href="#" class="card-footer-item">Build</a>
				<a href="#" class="card-footer-item">Details</a>
			</footer>
		</div>
	</div>
	<div class="column is-flex is-3">
		<div class="card card-growing">
			<div class="card-image">
				<figure class="image">
					<img src="/static/images/ships/ship-frigate.png" class="card-img-top" alt="...">
				</figure>
			</div>
			<div class="card-content is-growing">
				<div class="has-text-right Planet-card__header">
					<h2 class="title is-5 is-marginless">Frigate</h2>
					<span class="subtitle is-7">Level... 5</span>
				</div>
				<div class="content">
					<p>
					Increases solar plant max level. Unlocks atomic physics research. Increases energy production X% per level.
					</p>
					<hr>
					<p>
					Build:<br>
					10k metal, 10k hydrogen, 5k silica
					</p>
				</div>
			</div>
			<footer class="card-footer">
				<a href="#" class="card-footer-item">Build</a>
				<a href="#" class="card-footer-item">Details</a>
			</footer>
		</div>
	</div>
	<div class="column is-flex is-3">
		<div class="card card-growing">
			<div class="card-image">
				<figure class="image">
					<img src="/static/images/ships/ship-probe.png" class="card-img-top" alt="...">
				</figure>
			</div>
			<div class="card-content is-growing">
				<div class="has-text-right Planet-card__header">
					<h2 class="title is-5 is-marginless">Probe</h2>
					<span class="subtitle is-7">Level... 5</span>
				</div>
				<div class="content">
					<p>
					Unlocks various ships. Increases ships attack X% per level. Unlocks advanced weaponry technologies.
					</p>
					<hr>
					<p>
					Build:<br>
					10k metal, 10k hydrogen, 5k silica
					</p>
				</div>
			</div>
			<footer class="card-footer">
				<a href="#" class="card-footer-item">Build</a>
				<a href="#" class="card-footer-item">Details</a>
			</footer>
		</div>
	</div>
	<div class="column is-flex is-3">
		<div class="card card-growing">
			<div class="card-image">
				<figure class="image">
					<img src="/static/images/ships/ship-small-cargo.png" class="card-img-top" alt="...">
				</figure>
			</div>
			<div class="card-content is-growing">
				<div class="has-text-right Planet-card__header">
					<h2 class="title is-5 is-marginless">Small cargo</h2>
					<span class="subtitle is-7">Level... 5</span>
				</div>
				<div class="content">
					<p>
					Enables colonizing and bio-stations. Increases population growth X% per level.
					</p>
					<hr>
					<p>
					Build:<br>
					10k metal, 10k hydrogen, 5k silica
					</p>
				</div>
			</div>
			<footer class="card-footer">
				<a href="#" class="card-footer-item">Build</a>
				<a href="#" class="card-footer-item">Details</a>
			</footer>
		</div>
	</div>
	<div class="column is-flex is-3">
		<div class="card card-growing">
			<div class="card-image">
				<figure class="image">
					<img src="/static/images/ships/ship-medium-cargo.png" class="card-img-top" alt="...">
				</figure>
			</div>
			<div class="card-content is-growing">
				<div class="has-text-right Planet-card__header">
					<h2 class="title is-5 is-marginless">Medium Cargo</h2>
					<span class="subtitle is-7">Level... 5</span>
				</div>
				<div class="content">
					<p>
					Increases max robotic factory level. Unlocks advanced systems. Increases construction speed X% per level.
					</p>
					<hr>
					<p>
					Build:<br>
					10k metal, 10k hydrogen, 5k silica
					</p>
				</div>
			</div>
			<footer class="card-footer">
				<a href="#" class="card-footer-item">Build</a>
				<a href="#" class="card-footer-item">Details</a>
			</footer>
		</div>
	</div>
	<div class="column is-flex is-3">
		<div class="card card-growing">
			<div class="card-image">
				<figure class="image">
					<img src="/static/images/ships/ship-colonization-ark.png" class="card-img-top" alt="...">
				</figure>
			</div>
			<div class="card-content is-growing">
				<div class="has-text-right Planet-card__header">
					<h2 class="title is-5 is-marginless">Colonization Ark</h2>
					<span class="subtitle is-7">Level... 5</span>
				</div>
				<div class="content">
					<p>
					Unlocks various ships. Increases ships speed X% per level. Unlocks advanced propulsion technologies.
					</p>
					<hr>
					<p>
					Build:<br>
					10k metal, 10k hydrogen, 5k silica
					</p>
				</div>
			</div>
			<footer class="card-footer">
				<a href="#" class="card-footer-item">Build</a>
				<a href="#" class="card-footer-item">Details</a>
			</footer>
		</div>
	</div>
</div>


<article class="message">
  <div class="message-body">
Here we want to give the player the ability to build stuff. Probably only ships at the beginning, but later we would have multiple factories allowing to build different things. Materials for research, spaceship parts, space stations parts, artefacts etc.
  </div>
</article>

{{ end }}
