{{ define "planetBody" }}

    <form method="POST">
        {{ csrf }}

        <div class="columns is-multiline">

            {{ $planet := .Data.Planet }}
            {{ range $index, $building := .Data.Cards }}

                <div class="column is-flex is-3">
                    <div class="card card-growing">
                        <div class="card-image">
                            <figure class="image">
                                <img src="/static/images/buildings/{{ $building.Image }}" class="card-img-top" alt="">
                            </figure>
                        </div>
                        <div class="card-content is-growing">
                            <div class="has-text-right Planet-card__header">
                                <h2 class="title is-5 is-marginless">{{ $building.Name }}</h2>
                                <span class="subtitle is-7">Level...{{ $building.Level }}</span>
                            </div>
                            <div class="content">
                                <p>
                                    {{ $building.Description }}
                                </p>
                                <p>
                                    Upgrade cost:
                                <ul>
                                    <li>Metal: {{ quantity $building.UpgradeCost.Metal }}</li>
                                    <li>Hydrogen: {{ quantity $building.UpgradeCost.Hydrogen }}</li>
                                    <li>Silica: {{ quantity $building.UpgradeCost.Silica }}</li>
                                    <li>Population: {{ quantity $building.UpgradeUsage.Population }} (+{{quantity $building.DeltaUsage.Population}})</li>
                                    <li>Energy: {{ quantity $building.UpgradeUsage.Energy }} (+{{quantity $building.DeltaUsage.Energy}})</li>
                                </ul>
                                </p>
                            </div>
                        </div>

                        <footer class="card-footer">
                            {{ if $building.Timer }}
                                <div class="card-footer-item has-text-white has-text-weight-semibold Planet-card__duration">
                                    {{ duration $building.Timer.Duration }}
                                </div>
                                <button formaction="/planet/{{ $planet.ID }}/construction/{{ $building.Uri }}/cancel"
                                        class="is-paddingless Planet-card__button Planet-card__button--cancel">
                                    <span class="card-footer-item">Cancel</span>
                                </button>
                            {{ else }}
                                <button formaction="/planet/{{ $planet.ID }}/construction/{{ $building.Uri }}/build"
                                        class="is-paddingless Planet-card__button"
                                        {{ if not $building.Upgradable }}disabled{{ end }}>
							<span class="card-footer-item">
								Upgrade
							</span>
                                </button>
                            {{ end }}
                        </footer>
                    </div>
                </div>

            {{ end }}

        </div>

    </form>

{{ end }}
