{{ define "planetBody" }}

<h1>Research</h1>

<p>
Here we give the player technological research capacity. At first we should only have a few basic technologies for the game. Later we could add various research fields to encourage specialization by players. An interesting feature to promote "empire scale" research would be to not only allow to start research in a planet's lab but also to "join" a research in progress on other planets thus grouping the efforts of multiple planets into one research. That would allow a better gameplay and would prevent players from ending up with only one big lab on their main planet where they would do all their research as in all similar games I know.

I would like later to promote specialization in tech so that some player get good at making strong spaceship, some other specialize in producing and selling space station parts, etc.
</p>

{{ end }}
