{{ define "planetBody" }}

<!--
    Here we want to display a quick snapshot of the planet state. So that the player can see quickly: resources on the
    planet, in progress jobs on the planet, various productions indicator, an illustration of the planet, and basic
    actions that would be suitable on a planet like rename or unsettle for example.
-->

<article class="planet-info columns">
  <div class="column is-one-quarter">
	  <h1 class="title dashboard-title">{{ .Data.Planet.Name }}</h1>
    <ul class="dashboard-info">
      <li>
        <div class="columns is-inline-flex is-gapless dashboard-item">
          <span class="column is-half is-growing dashboard-item-name">Surface area</span>
          <span class="column is-narrow dashboard-item-value">510M km&sup2;</span>
        </div>
        <div class="columns is-inline-flex is-gapless dashboard-item">
          <span class="column is-half is-growing dashboard-item-name">Planet type</span>
		  <span class="column is-narrow dashboard-item-value">
			  {{ if eq .Data.Planet.PlanetType "gas_giant" }}
			  gas giant
			  {{ else if eq .Data.Planet.PlanetType "ice_giant" }}
			  ice giant
			  {{ else }}
			  {{ .Data.Planet.PlanetType }}
			  {{ end }}
		  </span>
        </div>
      </li>
    </ul>

    <!-- Reference HTML -->
    <!-- <h2 class="subtitle dashboard-subtitle">Fleet</h2>
    <ul class="dashboard-info">
      <li>
        <a href="/planet/{{ .Data.Planet.ID }}/fleets"
          class="columns is-inline-flex is-gapless dashboard-item dashboard-item-danger dashboard-item-link">
          <span class="column is-half is-growing dashboard-item-name">Incoming hostile fleet</span>
          <span class="column is-narrow dashboard-item-value">2m13s</span>
        </a>
        <a href="/planet/{{ .Data.Planet.ID }}/fleets"
          class="columns is-inline-flex is-gapless dashboard-item  dashboard-item-link">
          <span class="column is-half is-growing dashboard-item-name">Shipment from Ako to Farma</span>
          <span class="column is-narrow dashboard-item-value">1h13m</span>
        </a>
      </li>
    </ul> -->

    {{ if $timer := byTimerGroup .Data.Timers "building" }}
    <h2 class="subtitle dashboard-subtitle">Construction</h2>
    <ul class="dashboard-info">
      <li>
        <a href="/planet/{{ .Data.Planet.ID }}/constructions"
          class="columns is-inline-flex is-gapless dashboard-item dashboard-item-link">
          <span class="column is-half is-growing dashboard-item-name">
            {{ if eq $timer.Action "upgrade_metal_prod" }}
            Metal mine upgrade
            {{ else if eq $timer.Action "upgrade_hydrogen_prod" }}
            Hydrogen extractor upgrade
            {{ else if eq $timer.Action "upgrade_silica_prod" }}
            Silica quarry upgrade
            {{ else if eq $timer.Action "upgrade_solar_prod" }}
            Solar plant upgrade
            {{ else if eq $timer.Action "upgrade_urbanism" }}
            Housing facilities upgrade
            {{ else if eq $timer.Action "upgrade_metal_storage" }}
            Metal storage upgrade
            {{ else if eq $timer.Action "upgrade_hydrogen_storage" }}
            Hydrogen storage upgrade
            {{ else if eq $timer.Action "upgrade_silica_storage" }}
            Silica storage upgrade
            {{ else if eq $timer.Action "upgrade_research_center" }}
            Research center upgrade
            {{ else if eq $timer.Action "upgrade_ship_factory" }}
            Ship factory upgrade
            {{ end }}
          </span>
          <span class="column is-narrow dashboard-item-value">{{ duration $timer.Duration }}</span>
        </a>
      </li>
    </ul>
    {{ end }}

    {{ if $timer := byTimerGroup .Data.Timers "ship" }}
      <h2 class="subtitle dashboard-subtitle">Factories</h2>
      <ul class="dashboard-info">
        <li>
          <a href="/planet/{{ .Data.Planet.ID }}/factories"
             class="columns is-inline-flex is-gapless dashboard-item dashboard-item-link">
          <span class="column is-half is-growing dashboard-item-name">
            {{ if eq $timer.Action "build_caravel" }}
              Building caravel
            {{ else if eq $timer.Action "build_light_fighter" }}
              Building light fighter
            {{ else if eq $timer.Action "build_corvette" }}
              Building corvette
            {{ else if eq $timer.Action "build_frigate" }}
              Building frigate
            {{ else if eq $timer.Action "build_probe" }}
              Building probe
            {{ else if eq $timer.Action "build_small_cargo" }}
              Building small cargo
            {{ else if eq $timer.Action "build_medium_cargo" }}
              Building medium cargo
            {{ else if eq $timer.Action "build_colonization_ark" }}
              Building colonization ark
            {{ end }}
          </span>
            <span class="column is-narrow dashboard-item-value">{{ duration $timer.Duration }}</span>
          </a>
        </li>
      </ul>
    {{ end }}

  </div>
</article>

{{ end }}
