{{ define "planetBody" }}

<h1>Overview</h1>

<div class="row">
	<div class="col-sm-3">
		<img src="/static/images/planet.jpg" class="img-fluid rounded" alt="planet image">
	</div>
</div>

<div class="alert alert-primary mt-5" role="alert">
	<p>
		Here we want to display a quick snapshot of the planet state. So that the player can see quickly: resources on the planet, in progress jobs on the planet, various productions indicator, an illustration of the planet, and basic actions that would be suitable on a planet like rename or unsettle for example.
	</p>
</div>


{{ end }}
