{{ define "planetHeader" }}

<nav class="level is-mobile is-black">
	<!-- Left side -->
	<div class="level-left">
		<div class="level-item">
			<p class="subtitle is-5">
				<strong>Avalon</strong> [0:30:3:0]
			</p>
		</div>
	</div>

	<div class="level-item has-text-centered">
		<div>
			<p>
				<span class="is-size-7">Metal</span>
				<span class="title is-6">{{ quantity .Data.Planet.Metal }}</span>
			</p>
		</div>
	</div>
	<div class="level-item has-text-centered">
		<div>
			<p>
				<span class="is-size-7">Hydrogen</span>
				<span class="title is-6">{{ quantity .Data.Planet.Hydrogen }}</span>
			</p>
		</div>
	</div>
	<div class="level-item has-text-centered">
		<div>
			<p>
				<span class="is-size-7">Silica</span>
				<span class="title is-6">{{ quantity .Data.Planet.Silica }}</span>
			</p>
		</div>
	</div>
	<div class="level-item has-text-centered">
		<div>
			<p>
				<span class="is-size-7">Population</span>
				<span class="title is-6">{{ quantity .Data.Planet.Population }}</span>
			</p>
		</div>
	</div>
	<div class="level-item has-text-centered">
		<div>
			<p>
				<span class="is-size-7">Energy</span>
				<span class="title is-6">
					{{ quantity .Data.Planet.EnergyCons }}/{{ quantity .Data.Planet.EnergyProd }}
				</span>
			</p>
		</div>
	</div>

</nav>

<div class="tabs">
	<ul>
		<li {{ if eq .PageName "planet-dashboard" }} class="is-active" {{end}}>
			<a href="/planet/{{ .Data.Planet.ID }}/">Overview</a>
		</li>
		<li {{ if eq .PageName "planet-constructions" }} class="is-active" {{end}}>
			<a href="/planet/{{ .Data.Planet.ID }}/constructions">Constructions</a>
		</li>
		<li {{ if eq .PageName "planet-factories" }} class="is-active" {{end}}>
			<a href="/planet/{{ .Data.Planet.ID }}/factories">Factories</a>
		</li>
		<li {{ if eq .PageName "planet-research" }} class="is-active" {{end}}>
			<a href="/planet/{{ .Data.Planet.ID }}/research">Research</a>
		</li>
		<li {{ if eq .PageName "planet-fleets" }} class="is-active" {{end}}>
			<a href="/planet/{{ .Data.Planet.ID }}/fleets">Fleets</a>
		</li>
		<li {{ if eq .PageName "planet-defenses" }} class="is-active" {{end}}>
			<a href="/planet/{{ .Data.Planet.ID }}/defenses">Defenses</a>
		</li>
	</ul>
</div>

{{ end }}