{{ define "planetHeader" }}

<nav class="level is-mobile is-black">
	<!-- Left side -->
	<div class="level-left">
		<div class="level-item">
			<p class="subtitle is-5">
				<strong>Avalon</strong> [0:30:3:0]
			</p>
		</div>
	</div>

	<div class="level-item has-text-centered">
		<div>
			<p>
				<span class="is-size-7">Metal</span>
				<span class="title is-6">{{ quantity .Data.MetalStock }}</span>
			</p>
		</div>
	</div>
	<div class="level-item has-text-centered">
		<div>
			<p>
				<span class="is-size-7">Tritium</span>
				<span class="title is-6">{{ quantity .Data.MetalStock }}</span>
			</p>
		</div>
	</div>
	<div class="level-item has-text-centered">
		<div>
			<p>
				<span class="is-size-7">Water</span>
				<span class="title is-6">306/420</span>
			</p>
		</div>
	</div>
	<div class="level-item has-text-centered">
		<div>
			<p>
				<span class="is-size-7">Population</span>
				<span class="title is-6">{{ quantity 3e5 }}</span>
			</p>
		</div>
	</div>
	<div class="level-item has-text-centered">
		<div>
			<p>
				<span class="is-size-7">Energy</span>
				<span class="title is-6">1276/1700</span>
			</p>
		</div>
	</div>

</nav>

<div class="tabs">
	<ul>
		<li {{ if eq .PageName "planet-dashboard" }} class="is-active" {{end}}>
			<a href="/dashboard/planet/{{ .Data.ID }}/">Overview</a>
		</li>
		<li {{ if eq .PageName "planet-constructions" }} class="is-active" {{end}}>
			<a href="/dashboard/planet/{{ .Data.ID }}/constructions">Constructions</a>
		</li>
		<li {{ if eq .PageName "planet-factories" }} class="is-active" {{end}}>
			<a href="/dashboard/planet/{{ .Data.ID }}/factories">Factories</a>
		</li>
		<li {{ if eq .PageName "planet-research" }} class="is-active" {{end}}>
			<a href="/dashboard/planet/{{ .Data.ID }}/research">Research</a>
		</li>
		<li {{ if eq .PageName "planet-fleets" }} class="is-active" {{end}}>
			<a href="/dashboard/planet/{{ .Data.ID }}/fleets">Fleets</a>
		</li>
		<li {{ if eq .PageName "planet-defenses" }} class="is-active" {{end}}>
			<a href="/dashboard/planet/{{ .Data.ID }}/defenses">Defenses</a>
		</li>
	</ul>
</div>

{{ end }}