{{ define "planetBody" }}

<h1>Research</h1>

<div class="row pt-3">
	<div class="card-deck">
	  <div class="card text-right bg-dark">
		<img src="/static/images/fusion.jpg" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">Nuclear Fusion <small>(Lvl. 5)</small></h5>
		  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
		</div>
		<div class="card-footer">
		  <p class="card-text"><small class="text-muted">Cost: 300k Metal, 200k Lithium</small></p>
		  <a href="#" class="btn btn-primary">Upgrade</a>
		  <a href="#" class="btn btn-outline-secondary"><i class="fas fa-info-circle"></i></a>
		</div>
	  </div>
	  <div class="card text-right bg-dark">
		<img src="/static/images/fusion.jpg" class="card-img-top" alt="...">
		<div class="card-body">
		  <h5 class="card-title">Mathematics <small>(Lvl. 2)</small></h5>
		  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
		</div>
		<div class="card-footer">
		  <p class="card-text"><small class="text-muted">Cost: 300k Metal, 200k Lithium</small></p>
		  <a href="#" class="btn btn-primary">Upgrade</a>
		  <a href="#" class="btn btn-outline-secondary"><i class="fas fa-info-circle"></i></a>
		</div>
	  </div>
	  <div class="card text-right bg-dark">
		<img src="/static/images/fusion.jpg" class="card-img-top" alt="...">
		<div class="card-body">
		  <h5 class="card-title">Astrophysics <small>(Lvl. 7)</small></h5>
		  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
		</div>
		<div class="card-footer">
		  <p class="card-text"><small class="text-muted">Cost: 300k Metal, 200k Lithium</small></p>
		  <a href="#" class="btn btn-primary">Upgrade</a>
		  <a href="#" class="btn btn-outline-secondary"><i class="fas fa-info-circle"></i></a>
		</div>
	  </div>
	  <div class="card text-right bg-dark">
		<img src="/static/images/fusion.jpg" class="card-img-top" alt="...">
		<div class="card-body">
		  <h5 class="card-title">Cybernetics <small>(Lvl. 3)</small></h5>
		  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
		</div>
		<div class="card-footer">
		  <p class="card-text"><small class="text-muted">Cost: 300k Metal, 200k Lithium</small></p>
		  <a href="#" class="btn btn-primary">Upgrade</a>
		  <a href="#" class="btn btn-outline-secondary"><i class="fas fa-info-circle"></i></a>
		</div>
	  </div>
	</div>
</div>

<div class="alert alert-primary mt-5" role="alert">
	<p>
	Here we give the player technological research capacity. At first we should only have a few basic technologies for the game. Later we could add various research fields to encourage specialization by players. An interesting feature to promote "empire scale" research would be to not only allow to start research in a planet's lab but also to "join" a research in progress on other planets thus grouping the efforts of multiple planets into one research. That would allow a better gameplay and would prevent players from ending up with only one big lab on their main planet where they would do all their research as in all similar games I know.

	I would like later to promote specialization in tech so that some player get good at making strong spaceship, some other specialize in producing and selling space station parts, etc.
	</p>
</div>

{{ end }}
