{{ define "planetBody" }}

<form method="POST">
	{{ csrf }}

	{{ $action := "" }}
	{{ if .Data.Timer }}
	{{ $action = .Data.Timer.Action }}
	{{ end }}

	<div class="columns is-multiline">
		<div class="column is-flex is-3">
			<div class="card card-growing">
				<div class="card-image">
					<figure class="image is-4by-3">
						<img src="/static/images/buildings/metal-mine.jpg" class="card-img-top" alt="...">
					</figure>
				</div>
				<div class="card-content is-growing">
					<div class="has-text-right Planet-card__header">
						<h2 class="title is-5 is-marginless">Metal Mine</h2>
						<span class="subtitle is-7">Level...{{ .Data.Planet.MetalProdLevel }}</span>
					</div>
					<div class="content">
						<p>
							Produces metal.
						</p>
					</div>
				</div>

				<footer class="card-footer">
					{{ if eq $action "upgrade_metal_mine"}}
					<div class="card-footer-item has-text-white has-text-weight-semibold Planet-card__duration">
						{{ duration .Data.Timer.Duration }}
					</div>
					<button formaction="/planet/{{ .Data.Planet.ID }}/metal-mine/cancel"
						class="is-paddingless Planet-card__button Planet-card__button--cancel">
						<span class="card-footer-item">Cancel</span>
					</button>
					{{ else }}
					<button formaction="/planet/{{ .Data.Planet.ID }}/metal-mine/upgrade"
						class="is-paddingless Planet-card__button" {{ if .Data.Timer }}disabled{{ end }}>
						<span class="card-footer-item"
								title="Metal: {{ quantity .Data.MetalProdUpgradeCost.Metal }} / Hydrogen: {{ quantity .Data.MetalProdUpgradeCost.Hydrogen }} / Silica: {{ quantity .Data.MetalProdUpgradeCost.Silica }} / Energy: {{ quantity .Data.MetalProdUpgradeCost.Silica }}">
							Upgrade
						</span>
					</button>
					{{ end }}
				</footer>
			</div>
		</div>

		<div class="column is-flex is-3">
			<div class="card card-growing">
				<div class="card-image">
					<figure class="image is-4by-3">
						<img src="/static/images/buildings/hydrogen-extractor.jpg" class="card-img-top" alt="...">
					</figure>
				</div>
				<div class="card-content is-growing">
					<div class="has-text-right Planet-card__header">
						<h2 class="title is-5 is-marginless">Hydrogen Extractor</h2>
						<span class="subtitle is-7">Level...{{ .Data.Planet.HydrogenProdLevel }}</span>
					</div>
					<div class="content">
						<p>
							Produces hydrogen.
						</p>
					</div>
				</div>
				<footer class="card-footer">
					{{ if eq $action "upgrade_hydrogen_extractor"}}
					<div class="card-footer-item has-text-white has-text-weight-semibold Planet-card__duration">
						{{ duration .Data.Timer.Duration }}
					</div>
					<button formaction="/planet/{{ .Data.Planet.ID }}/hydrogen-extractor/cancel"
						class="is-paddingless Planet-card__button Planet-card__button--cancel">
						<span class="card-footer-item">Cancel</span>
					</button>
					{{ else }}
					<button formaction="/planet/{{ .Data.Planet.ID }}/hydrogen-extractor/upgrade"
						class="is-paddingless Planet-card__button" {{ if .Data.Timer }}disabled{{ end }}>
						<span class="card-footer-item"
								title="Metal: {{ quantity .Data.HydrogenProdUpgradeCost.Metal }} / Hydrogen: {{ quantity .Data.HydrogenProdUpgradeCost.Hydrogen }} / Silica: {{ quantity .Data.HydrogenProdUpgradeCost.Silica }} / Energy: {{ quantity .Data.HydrogenProdUpgradeCost.Silica }}">
							Upgrade
						</span>
					</button>
					{{ end }}
				</footer>
			</div>
		</div>

		<div class="column is-flex is-3">
			<div class="card card-growing">
				<div class="card-image">
					<figure class="image is-4by-3">
						<img src="/static/images/buildings/silica-quarry.jpg" class="card-img-top" alt="...">
					</figure>
				</div>
				<div class="card-content is-growing">
					<div class="has-text-right Planet-card__header">
						<h2 class="title is-5 is-marginless">Silica Quarry</h2>
						<span class="subtitle is-7">Level...{{ .Data.Planet.SilicaProdLevel }}</span>
					</div>
					<div class="content">
						<p>
						Produces silica.
						</p>
					</div>
				</div>
				<footer class="card-footer">
					{{ if eq $action "upgrade_silica_quarry"}}
					<div class="card-footer-item has-text-white has-text-weight-semibold Planet-card__duration">
						{{ duration .Data.Timer.Duration }}
					</div>
					<button formaction="/planet/{{ .Data.Planet.ID }}/silica-quarry/cancel"
						class="is-paddingless Planet-card__button Planet-card__button--cancel">
						<span class="card-footer-item">Cancel</span>
					</button>
					{{ else }}
					<button formaction="/planet/{{ .Data.Planet.ID }}/silica-quarry/upgrade"
						class="is-paddingless Planet-card__button" {{ if .Data.Timer }}disabled{{ end }}>
						<span class="card-footer-item"
								title="Metal: {{ quantity .Data.SilicaProdUpgradeCost.Metal }} / Hydrogen: {{ quantity .Data.SilicaProdUpgradeCost.Hydrogen }} / Silica: {{ quantity .Data.SilicaProdUpgradeCost.Silica }} / Energy: {{ quantity .Data.SilicaProdUpgradeCost.Silica }}">
							Upgrade
						</span>
					</button>
					{{ end }}
				</footer>
			</div>
		</div>

		<div class="column is-flex is-3">
			<div class="card card-growing">
				<div class="card-image">
					<figure class="image is-4by-3">
						<img src="/static/images/buildings/solar-plant.jpg" class="card-img-top" alt="...">
					</figure>
				</div>
				<div class="card-content is-growing">
					<div class="has-text-right Planet-card__header">
						<h2 class="title is-5 is-marginless">Solar Plant</h2>
						<span class="subtitle is-7">Level...{{ .Data.Planet.SolarProdLevel }}</span>
					</div>
					<div class="content">
						<p>
							Produces energy.
						</p>
					</div>
				</div>
				<footer class="card-footer">
					{{ if eq $action "upgrade_solar_plant"}}
					<div class="card-footer-item has-text-white has-text-weight-semibold Planet-card__duration">
						{{ duration .Data.Timer.Duration }}
					</div>
					<button formaction="/planet/{{ .Data.Planet.ID }}/solar-plant/cancel"
						class="is-paddingless Planet-card__button Planet-card__button--cancel">
						<span class="card-footer-item">Cancel</span>
					</button>
					{{ else }}
					<button formaction="/planet/{{ .Data.Planet.ID }}/solar-plant/upgrade"
						class="is-paddingless Planet-card__button" {{ if .Data.Timer }}disabled{{ end }}>
						<span class="card-footer-item"
								title="Metal: {{ quantity .Data.SolarProdUpgradeCost.Metal }} / Hydrogen: {{ quantity .Data.SolarProdUpgradeCost.Hydrogen }} / Silica: {{ quantity .Data.SolarProdUpgradeCost.Silica }} / Energy: {{ quantity .Data.SolarProdUpgradeCost.Silica }}">
							Upgrade
						</span>
					</button>
					{{ end }}
				</footer>
			</div>
		</div>

		<div class="column is-flex is-3">
			<div class="card card-growing">
				<div class="card-image">
					<figure class="image is-4by-3">
						<img src="/static/images/buildings/urbanism.jpg" class="card-img-top" alt="...">
					</figure>
				</div>
				<div class="card-content is-growing">
					<div class="has-text-right Planet-card__header">
						<h2 class="title is-5 is-marginless">Urbanism</h2>
						<span class="subtitle is-7">Level...{{ .Data.Planet.PopulationStorageLevel }}</span>
					</div>
					<div class="content">
						<p>
							Living accomodations for the population.
						</p>
					</div>
				</div>
				<footer class="card-footer">
					{{ if eq $action "upgrade_housing_facilities"}}
					<div class="card-footer-item has-text-white has-text-weight-semibold Planet-card__duration">
						{{ duration .Data.Timer.Duration }}
					</div>
					<button formaction="/planet/{{ .Data.Planet.ID }}/housing-facilities/cancel"
						class="is-paddingless Planet-card__button Planet-card__button--cancel">
						<span class="card-footer-item">Cancel</span>
					</button>
					{{ else }}
					<button formaction="/planet/{{ .Data.Planet.ID }}/housing-facilities/upgrade"
						class="is-paddingless Planet-card__button" {{ if .Data.Timer }}disabled{{ end }}>
						<span class="card-footer-item"
								title="Metal: {{ quantity .Data.UrbanismUpgradeCost.Metal }} / Hydrogen: {{ quantity .Data.UrbanismUpgradeCost.Hydrogen }} / Silica: {{ quantity .Data.UrbanismUpgradeCost.Silica }} / Energy: {{ quantity .Data.UrbanismUpgradeCost.Silica }}">
							Upgrade
						</span>
					</button>
					{{ end }}
				</footer>
			</div>
		</div>
		
		<div class="column is-flex is-3">
			<div class="card card-growing">
				<div class="card-image">
					<figure class="image is-4by-3">
						<img src="/static/images/buildings/metal-storage.jpg" class="card-img-top" alt="...">
					</figure>
				</div>
				<div class="card-content is-growing">
					<div class="has-text-right Planet-card__header">
						<h2 class="title is-5 is-marginless">Metal Storage</h2>
						<span class="subtitle is-7">Level...{{ .Data.Planet.MetalStorageLevel }}</span>
					</div>
					<div class="content">
						<p>
							Increases metal storage capacity.
						</p>
					</div>
				</div>
				<footer class="card-footer">
					{{ if eq $action "upgrade_metal_storage"}}
					<div class="card-footer-item has-text-white has-text-weight-semibold Planet-card__duration">
						{{ duration .Data.Timer.Duration }}
					</div>
					<button formaction="/planet/{{ .Data.Planet.ID }}/metal-storage/cancel"
						class="is-paddingless Planet-card__button Planet-card__button--cancel">
						<span class="card-footer-item">Cancel</span>
					</button>
					{{ else }}
					<button formaction="/planet/{{ .Data.Planet.ID }}/metal-storage/upgrade"
						class="is-paddingless Planet-card__button" {{ if .Data.Timer }}disabled{{ end }}>
						<span class="card-footer-item"
								title="Metal: {{ quantity .Data.MetalStorageUpgradeCost.Metal }} / Hydrogen: {{ quantity .Data.MetalStorageUpgradeCost.Hydrogen }} / Silica: {{ quantity .Data.MetalStorageUpgradeCost.Silica }} / Energy: {{ quantity .Data.MetalStorageUpgradeCost.Silica }}">
							Upgrade
						</span>
					</button>
					{{ end }}
				</footer>
			</div>
		</div>

		<div class="column is-flex is-3">
			<div class="card card-growing">
				<div class="card-image">
					<figure class="image is-4by-3">
						<img src="/static/images/buildings/hydrogen-storage.jpg" class="card-img-top" alt="...">
					</figure>
				</div>
				<div class="card-content is-growing">
					<div class="has-text-right Planet-card__header">
						<h2 class="title is-5 is-marginless">Hydrogen Storage</h2>
						<span class="subtitle is-7">Level...{{ .Data.Planet.HydrogenStorageLevel }}</span>
					</div>
					<div class="content">
						<p>
							Increases hydrogen storage capacity.
						</p>
					</div>
				</div>
				<footer class="card-footer">
					{{ if eq $action "upgrade_hydrogen_storage"}}
					<div class="card-footer-item has-text-white has-text-weight-semibold Planet-card__duration">
						{{ duration .Data.Timer.Duration }}
					</div>
					<button formaction="/planet/{{ .Data.Planet.ID }}/hydrogen-storage/cancel"
						class="is-paddingless Planet-card__button Planet-card__button--cancel">
						<span class="card-footer-item">Cancel</span>
					</button>
					{{ else }}
					<button formaction="/planet/{{ .Data.Planet.ID }}/hydrogen-storage/upgrade"
						class="is-paddingless Planet-card__button" {{ if .Data.Timer }}disabled{{ end }}>
						<span class="card-footer-item"
								title="Metal: {{ quantity .Data.HydrogenStorageUpgradeCost.Metal }} / Hydrogen: {{ quantity .Data.HydrogenStorageUpgradeCost.Hydrogen }} / Silica: {{ quantity .Data.HydrogenStorageUpgradeCost.Silica }} / Energy: {{ quantity .Data.HydrogenStorageUpgradeCost.Silica }}">
							Upgrade
						</span>
					</button>
					{{ end }}
				</footer>
			</div>
		</div>

		<div class="column is-flex is-3">
			<div class="card card-growing">
				<div class="card-image">
					<figure class="image is-4by3">
						<img src="/static/images/buildings/silica-storage.jpg" class="card-img-top" alt="...">
					</figure>
				</div>
				<div class="card-content is-growing">
					<div class="has-text-right Planet-card__header">
						<h2 class="title is-5 is-marginless">Silica Storage</h2>
						<span class="subtitle is-7">Level...{{ .Data.Planet.SilicaStorageLevel }}</span>
					</div>
					<div class="content">
						<p>
							Increases silica storage capacity.
						</p>
					</div>
				</div>
				<footer class="card-footer">
					{{ if eq $action "upgrade_silica_storage"}}
					<div class="card-footer-item has-text-white has-text-weight-semibold Planet-card__duration">
						{{ duration .Data.Timer.Duration }}
					</div>
					<button formaction="/planet/{{ .Data.Planet.ID }}/silica-storage/cancel"
						class="is-paddingless Planet-card__button Planet-card__button--cancel">
						<span class="card-footer-item">Cancel</span>
					</button>
					{{ else }}
					<button formaction="/planet/{{ .Data.Planet.ID }}/silica-storage/upgrade"
						class="is-paddingless Planet-card__button" {{ if .Data.Timer }}disabled{{ end }}>
						<span class="card-footer-item"
								title="Metal: {{ quantity .Data.SilicaStorageUpgradeCost.Metal }} / Hydrogen: {{ quantity .Data.SilicaStorageUpgradeCost.Hydrogen }} / Silica: {{ quantity .Data.SilicaStorageUpgradeCost.Silica }} / Energy: {{ quantity .Data.SilicaStorageUpgradeCost.Silica }}">
							Upgrade
						</span>
					</button>
					{{ end }}
				</footer>
			</div>
		</div>

	</div>

</form>

{{ end }}
