{{ define "navbar" }}

<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">Empire and Foundation</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
		<a class="nav-link" href="/dashboard">Empire</a>
      </li>
      <li class="nav-item">
		<a class="nav-link" href="/dashboard/cartography">Cartography</a>
      </li>
      <li class="nav-item">
		<a class="nav-link" href="/dashboard/fleetcontrol">Fleet control</a>
      </li>
      <li class="nav-item">
		<a class="nav-link" href="/dashboard/technology">Technology</a>
      </li>
      <li class="nav-item">
		<a class="nav-link" href="/dashboard/diplomacy">Diplomacy</a>
      </li>
      <li class="nav-item">
		<a class="nav-link" href="/dashboard/story">Story</a>
      </li>
      <li class="nav-item">
		<a class="nav-link" href="/dashboard/wiki">Wiki</a>
      </li>
      <li class="nav-item">
		<a class="nav-link" href="/dashboard/news">News</a>
      </li>
      <li class="nav-item">
		  <a class="nav-link" href="/dashboard"><i class="fab fa-discord"></i> Discord</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
		<a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>

{{ end }}
