{{ define "navbar" }}

<nav class="navbar" role="navigation" aria-label="main navigation" style="margin-bottom: 10px;">
  <div class="navbar-brand">
    <a class="navbar-item" href="/dashboard">
		Empire and Foundation
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMain">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarMain" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/dashboard">
		Empire 
      </a>
      <a class="navbar-item" href="/dashboard/cartography/0000">
		Cartography
      </a>
      <a class="navbar-item" href="/dashboard/fleetcontrol">
		Fleet control
      </a>
      <a class="navbar-item" href="/dashboard/technology">
		Technology
      </a>
      <a class="navbar-item" href="/dashboard/diplomacy">
		Diplomacy
      </a>
      <a class="navbar-item" href="/dashboard/story">
		Story
      </a>
      <a class="navbar-item" href="/dashboard/wiki">
		Wiki
      </a>
      <a class="navbar-item" href="/dashboard/news">
		News
      </a>
      <a class="navbar-item" href="/dashboard">
		<span class="icon is-small"><i class="fab fa-discord" aria-hidden="true"></i></span>
		<span>Discord</span>
      </a>


    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-outlined is-black is-inverted" href="/logout">
            Log out 
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

{{ end }}
