{{ define "rightbar" }}

<table class="table table-dark table-borderless table-hover table-sm rounded" style="background-color: #070710">
	<tbody>
		<tr>
			<td>
				<img src="/static/images/planet.jpg" class="rounded" alt="planet image" width="25px" height="25px">
			</td>
			<td>Earth</td>
			<td><a href="#">visit</a></td>
			<td><a href="#">visit</a></td>
			<td><a href="#">visit</a></td>
		</tr>
		<tr>
			<td>
				<img src="/static/images/planet.jpg" class="rounded" alt="planet image" width="25px" height="25px">
			</td>
			<td>Earth</td>
			<td><a href="#">visit</a></td>
		</tr>
		<tr>
			<td>
				<img src="/static/images/planet.jpg" class="rounded" alt="planet image" width="25px" height="25px">
			</td>
			<td>Earth</td>
			<td><a href="#">visit</a></td>
		</tr>
		<tr>
			<td>
				<img src="/static/images/planet.jpg" class="rounded" alt="planet image" width="25px" height="25px">
			</td>
			<td>Earth</td>
			<td><a href="#">visit</a></td>
		</tr>
		<tr>
			<td>
				<img src="/static/images/planet.jpg" class="rounded" alt="planet image" width="25px" height="25px">
			</td>
			<td>Earth</td>
			<td><a href="#">visit</a></td>
		</tr>
		<tr>
			<td>
				<img src="/static/images/planet.jpg" class="rounded" alt="planet image" width="25px" height="25px">
			</td>
			<td>Earth</td>
			<td><a href="#">visit</a></td>
		</tr>
	</tbody>
</table>

{{ end }}
